<div class="me">
<div class="bg-white">
<div class="text-center">
<h4 class="p-5">けんちゃんの<br>好きなタイプ度診断</h4>
<p>この診断では、<br>あなたがどれくらいけんちゃんのタイプなのか<br>
  パーセンテージで診断できます。</p>
  <p>全部で３０問です。<br>診断後は下にスクロールしてください。</p>
  <ul>
    <li class="p-b-10">
    <div class="bd">Q1. あなたは直接、けんちゃんにかわいいと言われた事がある</div><br>
    <label><input type="radio" name="q01" class="typeB"> YES</label>
    <label><input type="radio" name="q01" class="typeA"> 言われたい</label>
    <label><input type="radio" name="q01" class="typeC"> NO</label>
    </li>
    <li　class="p-b-10">
    <div class="bd">Q2. あなたは周りに可愛いとよく言われる</div><br>
    <label><input type="radio" name="q02" class="typeA"> YES</label>
    <label><input type="radio" name="q02" class="typeB"> 言われたい</label>
    <label><input type="radio" name="q02" class="typeC"> NO</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q3. あなたはメイクをする時それなりに眉毛を描く</div><br>
    <label><input type="radio" name="q03" class="typeC"> YES</label>
    <label><input type="radio" name="q03" class="typeB"> どちらでもない</label>
    <label><input type="radio" name="q03" class="typeA"> NO</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q4. あなたは今熱中しているものがある</div><br>
    <label><input type="radio" name="q04" class="typeA"> YES</label>
    <label><input type="radio" name="q04" class="typeB"> どちらでもない</label>
    <label><input type="radio" name="q04" class="typeC"> NO</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q5. あなたは猫派？犬派</div><br>
    <label><input type="radio" name="q05" class="typeC"> 猫派</label>
    <label><input type="radio" name="q05" class="typeA"> 動物はなんでも好き</label>
    <label><input type="radio" name="q05" class="typeB"> 犬派</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q6. あなたは平均体重より</div><br>
    <label><input type="radio" name="q06" class="typeB"> 重い</label>
    <label><input type="radio" name="q06" class="typeA"> 平均体重</label>
    <label><input type="radio" name="q06" class="typeC"> 軽い</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q7. あなたは筋肉が好き</div><br>
    <label><input type="radio" name="q07" class="typeA"> YES</label>
    <label><input type="radio" name="q07" class="typeB"> 部分的に好き</label>
    <label><input type="radio" name="q07" class="typeC"> NO</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q8. あなたは筋トレを</div><br>
    <label><input type="radio" name="q08" class="typeA"> 週２回以上</label>
    <label><input type="radio" name="q08" class="typeB"> 月１以上</label>
    <label><input type="radio" name="q08" class="typec"> しない</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q9. あなたはこればかりは誰にも譲れないという点がある</div><br>
    <label><input type="radio" name="q09" class="typeA"> YES</label>
    <label><input type="radio" name="q09" class="typeB"> どちらでもない</label>
    <label><input type="radio" name="q09" class="typeC"> NO</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q10. あなたは誰に対してもLineなどの返信が素っ気ない</div><br>
    <label><input type="radio" name="q10" class="typeA"> YES</label>
    <label><input type="radio" name="q10" class="typeC"> 人による</label>
    <label><input type="radio" name="q10" class="typeB"> NO</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q11. あなたは急に踊ったりする</div><br>
    <label><input type="radio" name="q11" class="typeA"> YES</label>
    <label><input type="radio" name="q11" class="typeB"> 時々</label>
    <label><input type="radio" name="q11" class="typeC"> NO</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q12. あなたは将来やりたい事がある</div><br>
    <label><input type="radio" name="q12" class="typeA"> YES</label>
    <label><input type="radio" name="q12" class="typeB"> どちらでもない</label>
    <label><input type="radio" name="q12" class="typeC"> NO</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q13.　あなたはお酒大好き人間</div><br>
    <label><input type="radio" name="q13" class="typeA"> YES</label>
    <label><input type="radio" name="q13" class="typeC"> どちらでもない</label>
    <label><input type="radio" name="q13" class="typeB"> NO</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q14. ネガティブ思考？ポジティブ思考？</div><br>
    <label><input type="radio" name="q14" class="typeC"> Neg</label>
    <label><input type="radio" name="q14" class="typeB"> どちらでもない</label>
    <label><input type="radio" name="q14" class="typeA"> Posi</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q15. 一つだけ選ぶなら、お金？時間？健康？</div><br>
    <label><input type="radio" name="q15" class="typeC"> お金</label>
    <label><input type="radio" name="q15" class="typeB"> 時間</label>
    <label><input type="radio" name="q15" class="typeA"> 健康</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q16. 大食い？</div><br>
    <label><input type="radio" name="q16" class="typeA"> YES</label>
    <label><input type="radio" name="q16" class="typeB"> 普通</label>
    <label><input type="radio" name="q16" class="typec"> 少食</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q17. 間食多い？</div><br>
    <label><input type="radio" name="q17" class="typeC"> 多い</label>
    <label><input type="radio" name="q17" class="typeB"> 普通</label>
    <label><input type="radio" name="q17" class="typeA"> 少ない</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q18. 正直こんな変な診断作っている健ちゃんに対してどう思う？</div><br>
    <label><input type="radio" name="q18" class="typeB"> おかしい</label>
    <label><input type="radio" name="q18" class="typeA"> 面白い</label>
    <label><input type="radio" name="q18" class="typeC"> きもい</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q19. ぶっちゃけ、アニオタまたは漫画好き</div><br>
    <label><input type="radio" name="q19" class="typeA"> YES</label>
    <label><input type="radio" name="q19" class="typeB"> どちらでもない</label>
    <label><input type="radio" name="q19" class="typeC"> NO</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q20. 服を選ぶなら</div><br>
    <label><input type="radio" name="q20" class="typeC"> 高いもの</label>
    <label><input type="radio" name="q20" class="typeB"> 安いもの</label>
    <label><input type="radio" name="q20" class="typeA"> 興味ない</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q21. 嫌いな人がいたら、直接嫌いと言う。</div><br>
    <label><input type="radio" name="q21" class="typeB"> YES</label>
    <label><input type="radio" name="q21" class="typeA"> どちらでもない</label>
    <label><input type="radio" name="q21" class="typeC"> NO</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q22. 美味しい食べ物は？</div><br>
    <label><input type="radio" name="q22" class="typeB"> 作る</label>
    <label><input type="radio" name="q22" class="typeC"> 外食する</label>
    <label><input type="radio" name="q22" class="typeA"> 食べて再現</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q23. 心霊系は</div><br>
    <label><input type="radio" name="q23" class="typeC"> 無理</label>
    <label><input type="radio" name="q23" class="typeA"> 怖いけど好き</label>
    <label><input type="radio" name="q23" class="typeB"> 信じない</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q24. あなたの親と恋人が今、殺人鬼に殺されそうです。どちらか一方しか助けられない。</div><br>
    <label><input type="radio" name="q24" class="typeC"> どちらか助ける</label>
    <label><input type="radio" name="q24" class="typeB"> 選べない</label>
    <label><input type="radio" name="q24" class="typeA"> ...</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q25. あなたの部屋はきれいである。</div><br>
    <label><input type="radio" name="q25" class="typeA"> YES</label>
    <label><input type="radio" name="q25" class="typeB"> どちらでもない</label>
    <label><input type="radio" name="q25" class="typeC"> NO</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q26. あなたは周りから嫌われても気にしない。</div><br>
    <label><input type="radio" name="q26" class="typeA"> YES</label>
    <label><input type="radio" name="q26" class="typeB"> 人による</label>
    <label><input type="radio" name="q26" class="typeC"> NO</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q27. あなたは自分勝手である。</div><br>
    <label><input type="radio" name="q27" class="typeC"> YES</label>
    <label><input type="radio" name="q27" class="typeB"> どちらでもない</label>
    <label><input type="radio" name="q27" class="typeA"> NO</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q28. あなたが友達に仕事を頼まれたら</div><br>
    <label><input type="radio" name="q28" class="typeC"> 無料でやる</label>
    <label><input type="radio" name="q28" class="typeA"> 有料でやる</label>
    <label><input type="radio" name="q28" class="typeB"> やらない</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q29. あなたはどんなにけんちゃんからサウナの良さを熱弁されても、行かない自信がある。</div><br>
    <label><input type="radio" name="q29" class="typeC"> YES</label>
    <label><input type="radio" name="q29" class="typeB"> 行くかも</label>
    <label><input type="radio" name="q29" class="typeA"> 一緒に行く</label>
    </li>
    <li class="p-b-10">
    <div class="bd">Q30. けんちゃんと友達になりたい</div><br>
    <label><input type="radio" name="q30" class="typeA line-qr"> YES</label>
    <label><input type="radio" name="q30" class="typeB"> NO</label>
    <label><input type="radio" name="q30" class="typeC"> 興味ない</label>
    </li>



  </ul>
  <button class="button1">診断する</button>
    <div class="result resultA">
    けんちゃんはあなたのことが100%タイプ！
    ぜひ結婚しましょう!
    </div>
    <div class="result resultB">
    けんちゃんはあなたのことが98%タイプ！
    好きです付き合いましょう
    </div>
    <div class="result resultC">
    けんちゃんはあなたのことが96%タイプ！
    可愛すぎて、死んでしまう
    </div>
    <div class="result resultD">
    けんちゃんはあなたのことが95%タイプ！
    ちょ、おま、可愛すぎるだろ！
    </div>
    <div class="result resultE">
    けんちゃんはあなたのことが93%タイプ！
    本当にお前は可愛いやつだな！
    </div>
    <div class="result resultF">
    けんちゃんはあなたのことが91%タイプ！
    え、なんでそんなに可愛いの!?
    </div>
    <div class="result resultG">
    けんちゃんはあなたのことが90%タイプ！
    好き
    </div>
    <div class="result resultH">
    けんちゃんはあなたのことが88%タイプ！
    いいじゃん、君すごくいいよ！
    </div>
    <div class="result resultI">
    けんちゃんはあなたのことが86%タイプ！
  　君きゃわいいね
    </div>
    <div class="result resultJ">
    けんちゃんはあなたのことが85%タイプ！
    え、天使？
    </div>
    <div class="result resultK">
    けんちゃんはあなたのことが83%タイプ！
    そんなあなたが美しい
    </div>
    <div class="result resultL">
    けんちゃんはあなたのことが81%タイプ！
    それは惚れちゃうぜ
    </div>
    <div class="result resultM">
    けんちゃんはあなたのことが80%タイプ！
    ふーん、なかなか高いじゃん
    </div>
    <div class="result resultN">
    けんちゃんはあなたのことが78%タイプ！
  　まあ、なかなか高いじゃん
    </div>
    <div class="result resultO">
    けんちゃんはあなたのことが76%タイプ！
    もう少し高かったら惚れてたかもな
    </div>
    <div class="result resultP">
    けんちゃんはあなたのことが75%タイプ！
    ん？一緒にゲームでもやる？
    </div>
    <div class="result resultQ">
    けんちゃんはあなたのことが73%タイプ！
    そんなあなたには僕の写真を一枚貰える権利を進呈
    </div>
    <div class="result resultR">
    けんちゃんはあなたのことが71%タイプ！
    なかなか高いけどまだまだだな
    </div>
    <div class="result resultS">
    けんちゃんはあなたのことが70%タイプ！
    僕が最近ハマっている食べ物は、食パンです。
    </div>
    <div class="result resultT">
    けんちゃんはあなたのことが68%タイプ！
    もっと俺を知りたいって？教えてやるよ
    </div>
    <div class="result resultU">
    けんちゃんはあなたのことが66%タイプ！
    え、昨日何を食べたか？プロテイン
    </div>
    <div class="result resultV">
    けんちゃんはあなたのことが65%タイプ！
    え？一緒にワンチャンと戯れたいって？いいぜ
    </div>
    <div class="result resultW">
    けんちゃんはあなたのことが63%タイプ！
    うちのワンチャンに触ってもいい権利を進呈する。
    </div>
    <div class="result resultX">
    けんちゃんはあなたのことが61%タイプ！
    え、25kg以上痩せた方法を知りたい？頑張ることだよ
    </div>
    <div class="result resultY">
    けんちゃんはあなたのことが60%タイプ！
    俺より美味いペペロンチーノ作れるなら、惚れてもいい
    </div>
    <div class="result resultZ">
    けんちゃんはあなたのことが58%タイプ！
    え？いつか遊びたいって？誘ってきな
    </div>
    <div class="result result1">
    けんちゃんはあなたのことが56%タイプ！
    とりあえずにゃんこ大戦争を一緒にやろうぜ
    </div>
    <div class="result result2">
    けんちゃんはあなたのことが55%タイプ！
    ちなみにこの診断作るの丸一日かかってる
    </div>
    <div class="result result3">
    けんちゃんはあなたのことが53%タイプ！
    最近はコメディアニメを見るのが好きだなも
    </div>
    <div class="result result4">
    けんちゃんはあなたのことが51%タイプ！
    とりあえず、喉乾いたからピルクル買ってきて
    </div>
    <div class="result result5">
    けんちゃんはあなたのことが50%タイプ！
    いいね、50%付近は友達にいいね。ゲームでもしよ
    </div>
    <div class="result result6">
    けんちゃんはあなたのことが48%タイプ！
    最近太ってきたんだが辛すぎる。
    </div>
    <div class="result result7">
    けんちゃんはあなたのことが46%タイプ！
    ４６しくお願いします（何が）
    </div>
    <div class="result result8">
    けんちゃんはあなたのことが45%タイプ！
    君も絵でも描いたら？そうしたら、俺の理想に近づくかもよ？
    </div>
    <div class="result result9">
    けんちゃんはあなたのことが43%タイプ！
    昔マンションで鬼ごっこしたらヤクザ関係の人に怒鳴られたの辛かった
    </div>
    <div class="result result10">
    けんちゃんはあなたのことが41%タイプ！
    ポップコーン鼻につめるぞ
    </div>
    <div class="result result11">
    けんちゃんはあなたのことが40%タイプ！
    40%って俺もどうやって接してるかわからん
    </div>
    <div class="result result12">
    けんちゃんはあなたのことが38%タイプ！
    君の作るおにぎりが俺を唸らせたら、追加ポイントあげる。
    </div>
    <div class="result result13">
    けんちゃんはあなたのことが36%タイプ！
    一緒にゲームでもしたいなーって思ったり
    </div>
    <div class="result result14">
    けんちゃんはあなたのことが35%タイプ！
  　ま、とりあえず挨拶だけはしとくから安心しな
    </div>
    <div class="result result15">
    けんちゃんはあなたのことが33%タイプ！
    窓から見えるあの景色は決して俺は忘れない（なんの話？）
    </div>
    <div class="result result16">
    けんちゃんはあなたのことが31%タイプ！
    もっと高くしてってもいいんだよ？
    </div>
    <div class="result result17">
    けんちゃんはあなたのことが30%タイプ！
    高くないけど、とりあえず記念に俺の写真でもいかが？
    </div>
    <div class="result result18">
    けんちゃんはあなたのことが28%タイプ！
    数値低いけど、俺と話したいって？仕方ないな
    </div>
    <div class="result result19">
    けんちゃんはあなたのことが26%タイプ！
    微妙な数値だけど、君はそういう人ってことで
    </div>
    <div class="result result20">
    けんちゃんはあなたのことが25%タイプ！
    アッツアッツのおでん投げるぞコラ
    </div>
    <div class="result result21">
    けんちゃんはあなたのことが23%タイプ！
    ナポリタンでも食っとけ馬鹿野郎
    </div>
    <div class="result result22">
    けんちゃんはあなたのことが21%タイプ！
    ワンワン（犬語翻訳：ちょっと低くない？）
    </div>
    <div class="result result23">
    けんちゃんはあなたのことが20%タイプ！
    最近声真似の練習を地味に頑張っています。
    </div>
    <div class="result result24">
    けんちゃんはあなたのことが18%タイプ！
    ぴ、ピカチュウ
    </div>
    <div class="result result25">
    けんちゃんはあなたのことが16%タイプ！
    最近筋トレにモチベーションなくて困ってるんだなも
    </div>
    <div class="result result26">
    けんちゃんはあなたのことが15%タイプ！
    頭痛い時どうするかって？寝る
    </div>
    <div class="result result27">
    けんちゃんはあなたのことが13%タイプ！
    電車の中で突如下痢になるのって地獄だよな
    </div>
    <div class="result result28">
    けんちゃんはあなたのことが11%タイプ！
    あいうえ小川に春がきた。
    </div>
    <div class="result result29">
    けんちゃんはあなたのことが10%タイプ！
    まあ、そういう時もあるよな。もっと高くなったら惚れてあげる。
    </div>
    <div class="result result30">
    けんちゃんはあなたのことが8%タイプ！
    おい、ケチャップ顔面にぶっかけるぞ
    </div>
    <div class="result result31">
    けんちゃんはあなたのことが6%タイプ！
    今の俺では、君を惚れることはないようだ。
    </div>
    <div class="result result32">
    けんちゃんはあなたのことが5%タイプ！
    ５％じゃ俺が惚れることはないだろう、すまんな
    </div>
    <div class="result result33">
    けんちゃんはあなたのことが3%タイプ！
    もっと上げてもいいんだよ？
    </div>
    <div class="result result34">
    けんちゃんはあなたのことが1%タイプ！
    いやいやなんちゅう低さよ
    </div>
    <div class="result result35">
    けんちゃんはあなたのことが0%タイプ！
    ここまで低いと、逆にわざと狙ってない？
    </div>
    <div class="result result-line">
    友達になりたい方はこれをどうぞ　<br clear="left">
    <img class="line-size"src="/line.jpg" alt="line">
    </div>
  </div>
</div>
</div>
